@charset "UTF-8";
/*Colors*/
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
@font-face {
  font-family: "Lemon-milk";
  src: url(../fonts/LEMONMILK-Regular.otf);
}
/*----------------ESTILOS COMUNES----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemon-milk";
}

html { /* etiqueta raíz */
  font-size: 62.5%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

body {
  background-color: #1c1b21;
}

/*NAV*/
.bg-body-tertiary {
  background-color: #1c1b21 !important;
}
.bg-body-tertiary .navbar-brand {
  color: rgba(138, 95, 197, 0.8274509804);
  font-size: 2.5rem;
}
.bg-body-tertiary .navbar-brand img {
  width: 19%;
  height: 19%;
}
.bg-body-tertiary .navbar-toggler {
  border: none;
  background-color: rgba(138, 95, 197, 0.8274509804);
}
.bg-body-tertiary .navbar-nav {
  text-align: center;
  font-size: 1.5rem;
}
.bg-body-tertiary .navbar-nav .nav-link.active {
  color: rgba(138, 95, 197, 0.8274509804);
}
.bg-body-tertiary .navbar-nav .nav-link.active:hover {
  color: #ffffff;
}
.bg-body-tertiary .navbar-nav .nav-link {
  color: #ffffff;
}
.bg-body-tertiary .navbar-nav .nav-link:hover {
  background-image: linear-gradient(to right, #1c1b21, rgba(138, 95, 197, 0.8274509804), #1c1b21);
}
.bg-body-tertiary .navbar-nav .nav-link.show {
  color: #ffffff;
  background-color: rgba(138, 95, 197, 0.2745098039);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bg-body-tertiary .navbar-nav .dropdown-menu {
  background-color: #1c1b21;
  border: 2px ridge rgba(138, 95, 197, 0.8274509804);
  align-content: center;
}
.bg-body-tertiary .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}
.bg-body-tertiary .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-image: linear-gradient(to right, #1c1b21, rgba(138, 95, 197, 0.8274509804), #1c1b21);
  color: #ffffff;
}
.bg-body-tertiary .collapse .d-flex {
  text-align: center;
  max-width: 70%;
  margin: 0 20%;
}
.bg-body-tertiary .collapse .form-control {
  border-radius: 10px 0 0 10px;
}
.bg-body-tertiary .collapse .btn {
  width: 35px;
  background-color: rgba(138, 95, 197, 0.8274509804);
  border-radius: 0 10px 10px 0;
  border: none;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

/*Banner*/
.banner__home {
  display: flex;
  width: auto;
  height: 150px;
  background-image: url(../img/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 3rem;
  align-items: center;
}
.banner__home h1 {
  color: #ffffff;
  font-weight: bolder;
  -webkit-text-stroke: 1px #000000;
  font-size: 2.5rem;
}

/*Alerts*/
.alert {
  text-align: center;
  width: auto;
  position: absolute;
  left: 50%;
  bottom: -1%;
  z-index: 9;
  position: fixed;
}

/*WhatsApp*/
.whatsapp {
  width: 6rem;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 5;
}

/*FOOTER*/
footer {
  display: inline;
  color: rgba(138, 95, 197, 0.8274509804);
  font-size: 2rem;
  text-align: center;
}
footer .footer__social {
  width: auto;
  padding: 20px;
  border-top: solid 1px rgba(138, 95, 197, 0.8274509804);
  background-color: #1c1b21;
}
footer .footer__social p {
  font-size: 1.3rem;
  padding: 15px 0px;
  margin: 0;
}
footer .footer__social .bi {
  color: #ffffff;
  font-size: 35px;
  margin: 0 8px;
  background-color: #280842;
  background-image: linear-gradient(45deg, rgba(138, 95, 197, 0.8274509804), rgba(138, 95, 197, 0.2745098039));
  background-clip: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/*----------------INDEX----------------*/
/*INTRO*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(138, 95, 197, 0.2745098039);
}
.intro .intro__text h2 {
  font-size: 2.5rem;
  color: rgba(138, 95, 197, 0.2745098039);
  -webkit-text-stroke: 1px rgba(138, 95, 197, 0.8274509804);
  padding: 30px;
  text-align: center;
}
.intro .intro__text h4 {
  font-size: 2rem;
  color: rgba(138, 95, 197, 0.8274509804);
  padding: 15px;
}
.intro .intro__text p {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 15px;
}
.intro .intro__img {
  width: 80%;
  height: 300px;
  background-image: url(../img/index/printer2.1.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin: 30px 30px 60px;
}

/*CARDS TITLE*/
.main__products {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #1c1b21;
  margin-bottom: 30px;
}
.main__products .main__products__line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.main__products .main__products__line .main__products__line__header {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
}
.main__products .main__products__line .main__products__line__header .main__products__line__header__title {
  width: 100%;
  font-size: 2rem;
  color: #ffffff;
}
.main__products .main__products__line .main__products__line__header .main__products__line__header__more {
  width: 100%;
  text-align: end;
  padding-right: 0rem;
}
.main__products .main__products__line .main__products__line__header .main__products__line__header__more a {
  font-size: 1.5rem;
  color: rgba(138, 95, 197, 0.8274509804);
}
.main__products .main__products__line .main__products__item {
  display: flex;
  flex-wrap: wrap;
}
.main__products .main__products__line .main__products__item .main__products__item__img {
  width: 250px;
  border: 2px solid #000000;
}

/*CARDS*/
.cards-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 4;
}
.cards-wrapper .card {
  max-height: 300px;
  max-width: 300px;
  border: none;
}
.cards-wrapper .card:hover {
  transform: scale(1.3);
  z-index: 10;
}
.cards-wrapper .card .card-body {
  background-color: rgba(28, 27, 33, 0.7725490196);
  position: absolute;
  bottom: 0px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
}
.cards-wrapper .card .card-text {
  text-align: center;
}

/*SIDEBAR-*/
.main {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}
.main .main__side-menu {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 100px 20px;
}
.main .main__side-menu .main__side-menu__categories {
  height: fit-content;
  background-color: #000000;
  border-radius: 25px;
  color: #ffffff;
}
.main .main__side-menu .main__side-menu__categories .main__side-menu__title {
  background-color: rgba(138, 95, 197, 0.8274509804);
  overflow-x: hidden;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.main .main__side-menu .main__side-menu__categories ul {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 0rem 2rem;
  overflow: hidden;
}
.main .main__side-menu .main__side-menu__categories ul li {
  overflow: hidden;
  padding: 1rem;
  border-bottom: solid 1px rgba(28, 27, 33, 0.7725490196);
}
.main .main__side-menu .main__side-menu__categories ul li:hover {
  background-image: linear-gradient(to right, rgba(138, 95, 197, 0.8274509804) 5%, #000000 95%);
  color: #ffffff;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}
.main .main__side-menu .main__side-menu__categories ul li a {
  color: #ffffff;
  display: flex;
  text-align: left;
  width: 100%;
}

/*CATEGORIES*/
.main {
  justify-content: center;
}

.section__cards {
  width: 75%;
  /*filtro*/
}
.section__cards h2 {
  font-size: 2.5rem;
  color: rgba(138, 95, 197, 0.2745098039);
  -webkit-text-stroke: 1px rgba(138, 95, 197, 0.8274509804);
  padding: 30px;
  text-align: center;
  padding: 30px 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.section__cards .subcategories {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section__cards .subcategories .subcategories__title {
  padding: 30px 0;
}
.section__cards .subcategories .subcategories__title h3 {
  width: 100%;
  font-size: 17px;
  color: #ffffff;
}
.section__cards .subcategories .subcategories__cards-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section__cards .subcategories .subcategories__cards-wrapper .card {
  width: 130px;
  background-color: transparent;
}
.section__cards .subcategories .subcategories__cards-wrapper .card .card-img-top {
  border-radius: 10%;
}
.section__cards .subcategories .subcategories__cards-wrapper .card .sub-card-body {
  position: absolute;
  bottom: 10px;
  width: 100%;
  color: #ffffff;
  background-image: radial-gradient(#000000 10%, transparent 50%);
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  font-weight: bolder;
  -webkit-text-stroke: 1px #000000;
  margin: 0;
  text-shadow: 1px 1px 5px #000000;
}
.section__cards .categories__cards {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.section__cards .categories__cards .categories__cards__title h3 {
  color: #ffffff;
  font-size: 20px;
  padding: 30px;
}
.section__cards .categories__cards .categories__cards-wrapper {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 25px;
}
.section__cards .categories__cards .categories__cards-wrapper .card {
  width: 250px;
  height: 250px;
  border: none;
}
.section__cards .categories__cards .categories__cards-wrapper .card:hover {
  transform: scale(1.3);
  z-index: 10;
}
.section__cards .categories__cards .categories__cards-wrapper .card .card-img-top {
  width: 250px;
  height: 250PX;
  object-fit: cover;
}
.section__cards .categories__cards .categories__cards-wrapper .card .card-body {
  background-color: rgba(28, 27, 33, 0.7725490196);
  position: absolute;
  bottom: 0px;
  max-width: 300px;
  width: 100%;
  color: #ffffff;
}
.section__cards .categories__cards .categories__cards-wrapper .card .card-text {
  text-align: center;
}
.section__cards #dc, .section__cards #marvel, .section__cards #avengers, .section__cards #x-men, .section__cards #otros, .section__cards #todos {
  display: none;
}
.section__cards .dc, .section__cards .marvel, .section__cards .avengers, .section__cards .x-men, .section__cards .otros {
  display: none;
}
.section__cards #dc:checked ~ .categories__cards .dc {
  display: flex;
}
.section__cards #marvel:checked ~ .categories__cards .marvel {
  display: flex;
}
.section__cards #avengers:checked ~ .categories__cards .avengers {
  display: flex;
}
.section__cards #x-men:checked ~ .categories__cards .x-men {
  display: flex;
}
.section__cards #otros:checked ~ .categories__cards .otros {
  display: flex;
}
.section__cards #todos:checked ~ .categories__cards .dc,
.section__cards #todos:checked ~ .categories__cards .marvel,
.section__cards #todos:checked ~ .categories__cards .avengers,
.section__cards #todos:checked ~ .categories__cards .x-men,
.section__cards #todos:checked ~ .categories__cards .otros {
  display: flex;
}

/*side-menu*/
.active-menu {
  color: rgba(138, 95, 197, 0.8274509804) !important;
}

/*----------------NUESTROS TRABAJOS----------------*/
.content__nuestros-trabajos {
  display: flex;
  flex-direction: column;
}
.content__nuestros-trabajos h2 {
  font-size: 2.5rem;
  color: rgba(138, 95, 197, 0.2745098039);
  -webkit-text-stroke: 1px rgba(138, 95, 197, 0.8274509804);
  padding: 30px;
  text-align: center;
}
.content__nuestros-trabajos h3 {
  font-size: 2.5rem;
  color: rgba(138, 95, 197, 0.8274509804);
  padding: 30px;
}
.content__nuestros-trabajos p {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 15px;
  text-align: center;
}
.content__nuestros-trabajos .videos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content__nuestros-trabajos .videos iframe {
  max-width: 100%;
  align-self: center;
}
.content__nuestros-trabajos .photos .photo__gallery {
  display: grid;
  grid-template-areas: "photo1 photo1 photo2 photo3" "photo1 photo1 photo4 photo3" "photo5 photo5 photo5 photo5" "photo5 photo5 photo5 photo5";
  margin: 0 1rem 1rem;
  gap: 20px;
}
.content__nuestros-trabajos .photos .photo__gallery .photo1, .content__nuestros-trabajos .photos .photo__gallery .photo2, .content__nuestros-trabajos .photos .photo__gallery .photo3, .content__nuestros-trabajos .photos .photo__gallery .photo4, .content__nuestros-trabajos .photos .photo__gallery .photo5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.content__nuestros-trabajos .photos .photo__gallery .photo1 {
  grid-area: photo1;
  background-image: url(../img/nuestros-trabajos/orig/lotr2-big.webp);
  height: 650px;
}
.content__nuestros-trabajos .photos .photo__gallery .photo2 {
  grid-area: photo2;
  background-image: url(../img/nuestros-trabajos/orig/gimli-medium.webp);
  height: 300px;
}
.content__nuestros-trabajos .photos .photo__gallery .photo3 {
  grid-area: photo3;
  background-image: url(../img/nuestros-trabajos/orig/ent.jpg);
  height: 650px;
}
.content__nuestros-trabajos .photos .photo__gallery .photo4 {
  grid-area: photo4;
  background-image: url(../img/nuestros-trabajos/orig/witcher-small.webp);
  height: 300px;
}
.content__nuestros-trabajos .photos .photo__gallery .photo5 {
  grid-area: photo5;
  background-image: url(../img/nuestros-trabajos/orig/oni-big.jpg);
  height: 650px;
}

.intro-descubrir h2 {
  font-size: 2.5rem;
  color: rgba(138, 95, 197, 0.2745098039);
  -webkit-text-stroke: 1px rgba(138, 95, 197, 0.8274509804);
  padding: 30px;
  text-align: center;
}
.intro-descubrir p {
  color: #ffffff;
  font-size: 1.5rem;
  padding: 15px;
}

.comenzar {
  display: flex;
  justify-content: center;
}
.comenzar .comenzar__button {
  background-color: rgba(138, 95, 197, 0.8274509804);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: 3px inset rgba(138, 95, 197, 0.8274509804);
}

#carouselExampleCaptions {
  margin: 0 auto;
  padding: 10%;
}

/*----------------CONTACTO----------------*/
#form__contact {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 2rem;
}
#form__contact .contact__bg__L {
  background-image: url(../img/contact-bg-L.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
}
#form__contact .contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0;
  width: 80%;
}
#form__contact .contact input, #form__contact .contact textarea {
  background-color: transparent;
  border-color: rgba(138, 95, 197, 0.8274509804);
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.2rem;
}
#form__contact .contact .contact__submit {
  text-align: center;
}
#form__contact .contact .contact__submit .contact__submit__button {
  background-color: rgba(138, 95, 197, 0.8274509804);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border: 3px inset rgba(138, 95, 197, 0.8274509804);
}

/*----------------MEDIA----------------*/
/*--992px--*/
@media (max-width: 992px) {
  /*--SIDE MENU--*/
  .main__side-menu {
    display: none !important;
  }
}
@media (min-width: 992px) {
  /*--NAV--*/
  .navbar .navbar-brand {
    color: rgba(138, 95, 197, 0.8274509804);
    font-size: 2rem;
  }
  .navbar .navbar-brand img {
    width: 25%;
    height: 25%;
  }
  .navbar .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #ffffff;
    padding: 20px;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-image: radial-gradient(rgba(138, 95, 197, 0.8274509804) 20%, #1c1b21 60%);
  }
  .navbar .navbar-nav .dropdown-menu {
    left: 25vw;
    margin-top: 0;
  }
  .navbar .navbar-nav .nav-link.show {
    color: #ffffff;
    background-image: radial-gradient(rgba(138, 95, 197, 0.8274509804) 20%, #1c1b21 60%);
  }
  /*BANNER*/
  .banner__home {
    height: 200px;
    margin-left: 4rem;
  }
  .banner__home h1 {
    -webkit-text-stroke: 1px #000000;
    font-size: 3rem;
  }
  /*INTRO*/
  .intro .intro__text h2 {
    font-size: 3.5rem;
    padding-top: 60px;
  }
  .intro .intro__text h4 {
    font-size: 2rem;
    color: rgba(138, 95, 197, 0.8274509804);
    padding: 15px 100px;
  }
  .intro .intro__text p {
    color: #ffffff;
    font-size: 1.5rem;
    padding: 15px 150px;
  }
  /*CONTACT*/
  .contact__bg__R {
    background-image: url(../img/contact-bg-R.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
  }
  .contact input, .contact textarea {
    font-size: 1.5rem;
  }
}
/*--1200px--*/
@media (min-width: 1200px) {
  /*NAV*/
  .navbar .navbar-nav {
    font-size: 1.7rem;
  }
  .navbar .navbar-nav .dropdown-menu {
    left: 24vw;
  }
  /*BANNER*/
  .banner__home {
    height: 225px;
    margin-left: 5rem;
  }
  .banner__home h1 {
    font-size: 3.5rem;
  }
}
/*--1400px--*/
@media (min-width: 1400px) {
  /*NAV*/
  .navbar .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .dropdown-menu {
    left: 15vw;
  }
  /*BANNER*/
  .banner__home {
    height: 250px;
    margin-left: 6rem;
  }
  .banner__home h1 {
    font-size: 4rem;
  }
}
/*-----------404-----------*/
.html__404, .body__404 {
  margin: 0px;
  overflow: hidden;
}
.html__404 div, .body__404 div {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  overflow: hidden;
}
.html__404 .wrap, .body__404 .wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.html__404 h2, .body__404 h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}
.html__404 #svgWrap_1,
.html__404 #svgWrap_2, .body__404 #svgWrap_1,
.body__404 #svgWrap_2 {
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.html__404 #svgWrap_1,
.html__404 #svgWrap_2,
.html__404 div, .body__404 #svgWrap_1,
.body__404 #svgWrap_2,
.body__404 div {
  animation: hueRotate 6s ease-in-out 3s infinite;
}
.html__404 #id1_1,
.html__404 #id2_1,
.html__404 #id3_1, .body__404 #id1_1,
.body__404 #id2_1,
.body__404 #id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}
.html__404 #id1_2,
.html__404 #id2_2,
.html__404 #id3_2, .body__404 #id1_2,
.body__404 #id2_2,
.body__404 #id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}
.html__404 #id3_1, .body__404 #id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}
.html__404 #id2_1, .body__404 #id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}
.html__404 #id1_1, .body__404 #id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}
@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes flicker1 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  3% {
    stroke: transparent;
  }
  4% {
    stroke: #ff005d;
  }
  6% {
    stroke: #ff005d;
  }
  7% {
    stroke: transparent;
  }
  13% {
    stroke: transparent;
  }
  14% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker2 {
  0% {
    stroke: #ff005d;
  }
  50% {
    stroke: #ff005d;
  }
  51% {
    stroke: transparent;
  }
  61% {
    stroke: transparent;
  }
  62% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker3 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  10% {
    stroke: transparent;
  }
  11% {
    stroke: #ff005d;
  }
  40% {
    stroke: #ff005d;
  }
  41% {
    stroke: transparent;
  }
  45% {
    stroke: transparent;
  }
  46% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker4 {
  0% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  30% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  32% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  36% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  37% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  41% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  42% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  85% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  86% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  96% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

/*# sourceMappingURL=styles.css.map */
