/*---------_VARIABLES---------*/
@font-face{
    font-family: 'Lemon-milk';
    src: url(../fonts/LEMONMILK-Regular.otf);
}
$background-grey:#1c1b21;
$black-fade:#1c1b21c5;
$white:#ffffff;
$black:#000000; 
$lilac:#8a5fc5d3;
$lilac-fade:#8a5fc546;
$lilac-darker:#280842;
/*----------------NAV----------------*/
.bg-body-tertiary{
    background-color: ($background-grey)!important;
                .navbar-brand{
                    color: $lilac;
                    font-size: 2.5rem;                               
                        img{
                            width: 19%;
                            height: 19%;
                        }
                } 
                .navbar-toggler{
                    border: none;
                    background-color: $lilac;
                    }   
                .navbar-nav{
                    text-align:center;
                    font-size:1.5rem;
                        .nav-link.active{
                            color: $lilac;
                            &:hover{
                                color: $white;        
                            }
                        }
                        .nav-link{
                            color:$white;
                                &:hover{
                                    background-image: linear-gradient(to right,$background-grey,$lilac,$background-grey);
                                }
                        }
                        .nav-link.show{
                            color: $white;
                            background-color: $lilac-fade;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        .dropdown-menu{
                            background-color: $background-grey;
                            border: 2px ridge $lilac;
                            align-content: center; 
                            .dropdown-item{
                                color: $white;
                                text-align: center;
                                font-size: 1.2rem;
                                    &:hover{
                                        background-image: linear-gradient(to right,$background-grey,$lilac,$background-grey);
                                    color: $white;
                                    }
                            }                            
                        }
                    }
                .collapse{                    
                        .d-flex{
                            border: 2px inset;
                            border-radius: 10px;
                            border-color: $lilac-fade;
                        }
                        .form-control{
                            margin:0!important;
                            border-radius: 10px 0 0 10px;
                        }                                             
                        .btn{
                            width: 35px;
                            background-color: $lilac;
                            border-radius: 0 10px 10px 0;
                            border: none;
                            background-image: url(../img/search.svg);
                            background-repeat: no-repeat;
                            background-position: center;
                            padding: 0;       
                        }                                                                                                                             
                }
}
/*----------------MAIN----------------*/
body{
    background-color: $background-grey;
}
/*--TITLES--*/
.main__products{
    display: flex;
    flex-direction: column; 
    height: 100%;
    width: 100%;
    background-color: $background-grey;
    margin-bottom: 30px;
        .main__products__line{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;    
                .main__products__line__header{
                    display: flex;
                    align-items: center;
                    padding: 2rem 3rem;
                        .main__products__line__header__title{
                            width: 100%;
                            font-size: 2rem;
                            color: $white;
                        }
                        .main__products__line__header__more{
                            width: 100%;
                            text-align: end;
                            padding-right: 0rem;
                                a{
                                    font-size: 1.5rem;
                                    color: $lilac;
                                }                            
                        }                                            
                }
                .main__products__item{
                    display: flex;
                    flex-wrap: wrap;
                        .main__products__item__img{
                            width: 250px;
                            border: 2px solid $black;
                        }                     
                }                            
        }    
}
/*--CARDS--*/
.cards-wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
        .card{
            max-height: 300px;
            max-width: 300px;
            border: none;
                .card-body{
                    background-color:$black-fade;
                    position: absolute;
                    bottom: 0px;
                    max-width: 300px;
                    width: 100%;
                    color:$white;
                }                
                .card-text{
                    text-align: center;
                }                
        }
}
/*----------------FOOTER----------------*/
footer{
    display: inline;
    color:$lilac;
    font-size: 2rem;
    text-align: center;
        .footer__social{
            width: auto;
            padding: 20px;
            border-top: solid 1px $lilac;
            background-color:$background-grey;
                p{
                    font-size: 1.3rem;
                    padding: 15px 0px;
                    margin: 0;
                }
                .bi{
                    color:$white;
                    font-size: 35px;
                    margin: 0 8px;
                    background-color:$lilac-darker;
                    background-image: linear-gradient(45deg, $lilac,$lilac-fade);
                    background-clip:0;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }                                
        }
}