/*CATEGORIES*/ 
.section__cards{    
    width: 75%;
        h2{
            width: 100%;
            font-size: 40px;
            color: $white; 
            text-align: center;
            -webkit-text-stroke: 1px #000;
            padding: 20px 0px;

        }
.subcategories{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        .subcategories__title{
            padding: 30px;
            h3{    width: 100%;
                font-size: 17px;
                color: $white;    
            }
        }
        .subcategories__cards-wrapper{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-evenly;
                .card{
                    width: 130px;
                    background-color: transparent;
                        .card-img-top{
                            border-radius: 10%;
                        }
                        .sub-card-body{
                            position: absolute;
                            bottom: 10px;
                            width: 100%;
                            color:$white;                    
                            background-image: radial-gradient($black 10%, transparent 50%);
                            font-weight: 500; 
                            font-size: 23px;
                            text-align: center;
                            font-weight: bolder;
                            -webkit-text-stroke: 1px #000;
                            margin: 0;
                            text-shadow: 1px 1px 5px black ;
                        }                
                    }
        }
    }

.categories__cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        .categories__cards__title{
            h3{
                color: white;
                font-size: 20px;
                padding: 30px;
            }
        }
        .categories__cards-wrapper{
            display: flex;
            gap: 30px;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom: 25px;
                .card{
                    width: 250px;
                    height: 250px;
                    border: none;        
                &:hover{
                transform: scale(1.3);
                z-index: 10;
                }
                            .card-img-top{
                            width: 250px; 
                            height: 250PX;
                            object-fit: cover;
                            }
                            .card-body{
                                background-color:$black-fade;
                                position: absolute;
                                bottom: 0px;
                                max-width: 300px;
                                width: 100%;
                                color:$white;
                                }                
                            .card-text{
                                text-align: center;              
                            }                
                }
        }
}
/*filtro*/ 
#dc,#marvel,#avengers,#x-men,#otros,#todos{
    display:none
}
.dc, .marvel,.avengers,.x-men,.otros{
    display: none;
}
#dc:checked ~ .categories__cards .dc{
    display: flex;
}
#marvel:checked ~ .categories__cards .marvel{
    display: flex;
}
#avengers:checked ~ .categories__cards .avengers{
    display: flex;
    
}
#x-men:checked ~ .categories__cards .x-men{
    display: flex;
}
#otros:checked ~ .categories__cards .otros{
    display: flex;
}

#todos:checked ~ .categories__cards .dc,
#todos:checked ~ .categories__cards .marvel,
#todos:checked ~ .categories__cards .avengers,
#todos:checked ~ .categories__cards .x-men,
#todos:checked ~ .categories__cards .otros{
    display: flex;
}
}
/*side-menu*/
.active-menu{
    color: rgba(138, 95, 197, 0.8274509804) !important;
}