/*----------------CONTACTO----------------*/ 
#form__contact{
    display:flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 2rem;
        .contact__bg__L{
            background-image: url(../img/contact-bg-L.png);  
            background-size: contain;
            background-repeat: no-repeat;
            background-position:center ;
            width: 70%;
        }
        .contact{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding:0 ;
            width: 80%;
                input, textarea{
                    background-color: transparent;
                    border-color: $lilac;
                    color: $white;
                    border-radius: 5px;
                    font-size: 1.2rem;
                }
                .contact__submit{
                    text-align: center;
                        .contact__submit__button{
                            background-color: $lilac;
                            font-size: 1.5rem;
                            padding: 1rem 3rem;
                            border: 3px inset $lilac;
                        }                    
                }
        }
}