/*----------------NUESTROS TRABAJOS----------------*/

.content__nuestros-trabajos{
    display: flex;
    flex-direction: column;
        h2{
            @include intro-h2;
        }
        h3{
            @include intro-h3;
        }
        p{
            @include intro-p;
            text-align: center;
        }
        .videos{
            max-width:100%;
            display: flex;
            flex-direction: column;
                iframe{
                    max-width: 100%;
                    align-self: center;
            }
        }
        .photos{
            .photo__gallery{
                display: grid;
                grid-template-areas:
                "photo1 photo1 photo2 photo3"
                "photo1 photo1 photo4 photo3"
                "photo5 photo5 photo5 photo5"
                "photo5 photo5 photo5 photo5";
                margin: 0 1rem 1rem;
                gap: 5px;
                .photo1, .photo2, .photo3, .photo4, .photo5{

                    background-repeat:no-repeat;
                    background-size:100%;
                    background-position:center;

                }
                .photo1{
                    grid-area: photo1;
                    background-image: url(../img/nuestros-trabajos/lotr2-min.jpg);
                    height:210px;
                }
                .photo2{
                    grid-area: photo2;
                    background-image: url(../img/index/gimli-medium-min.jpg);               
                    height: 100px;
                    background-position: bottom;
                }
                .photo3{
                    grid-area: photo3;
                    background-image: url(../img/nuestros-trabajos/ent-min.jpg);
                    height: 210px;
                }
                .photo4{
                    grid-area: photo4;
                    background-image: url(../img/index/witcher-small-min.jpg);
                    height: 100px;
                    background-position: top;
                }
                .photo5{
                    grid-area: photo5;
                    background-image: url(../img/nuestros-trabajos/oni-min.jpg);
                    height: 210px;
                }        
            }       
        }
}